@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,100&family=Roboto:ital@0;1&display=swap');
h2{
    margin: 0 0 0 30px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.listarea{
    overflow-x: hidden;
}
.list{
    transition: all ease 0.6s;
    overflow-x: hidden;
    
}
.item{
    display: inline-block;
    width: 150px;
    cursor: pointer;
}
.item img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.3s;
}
.item img:hover{
    transform: scale(1);
}
.naviBefore,.naviNext{
    position: absolute;
    width: 40px;
    height: 225px;
    background-color:rgba(0,0,0,0.7) ;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(1);
    transition: all ease 0.3s;
    opacity: 0;
}
.naviBefore:hover{
    opacity: 1;
}
 .naviNext:hover{
    opacity: 1;
}
.naviBefore{
    left: 0;
}
.naviNext{
    right: 0;
}
@media(max-width:1024px){
    .naviBefore,
    .naviNext{
        opacity: 1;
    }
}